img{
  width: 300px;
  display: block;
}

.App{
  display: grid;
  display: flex;
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 70px;
  border-style: solid;
  border-style: hidden;
  background-color: rgb(236, 236, 235);
  width: 1290px;
  height: 570px;
}

.header2{
  margin-left: 40px;
  margin-top: 10px;
}


.header1{
  margin-left: 24px;
  margin-top: 10px;
}

.cards{
  border-style: solid;
  border-style: hidden;
  width: 600px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.imgcont{
  border-style: solid;
  border-width: 0px;
  border-style: hidden;
  display: flex;
  font-weight: 900;
  font-size: 17px;
}
.content{
  margin-left: 5px;
}

button{
  border-style: hidden;
  font-weight: 450;
  font-size: 20px;
  background-color: rgb(236, 236, 236);
}

.title{
  display: flex;
  top: 64px;
  right: 126px;
  position: relative;
  font-weight: normal;
}